body {
	margin: 0;
	background: grey;
	font-family: 'Chivo', sans-serif;
	padding: 10px 10px 10px 10px;
	box-sizing: border-box;	
}


.container {
	width: 80%;
	margin: : 0 auto;
	text-align: center;
	overflow: hidden;
	padding-top: 50px;
}

header {
	background: rgb(201,188,184);
	float: left;
	

}

.logo {
	display: block;
	margin-left: auto;
	margin right: auto;
	height: 100%;
	width: 25%;
	padding:0px 0px 50px 0px;


}

.name {
text-align: center;
float: left;
padding: 0px 50px 0px 50px;
font-size: 20px;
font-weight: bolder;

}
/*navagation bar changes*/
nav {
	float: right;
	background: rgb(198,82,83);
	width: 100%;
	padding-right: 50px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 20px;
	padding-bottom: 20px;
}

nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;

}
 nav a:hover {
 	color: blue;
 }

section {
	box-sizing: content-box;
	box-shadow: 5px 3px 3px 5px;
	border-color: grey;
	padding: 2px 5px 2px 5px;
	background: white;
}

.headline {
	text-align: center;
	font-size: 30pt;
	font-weight: bolder !important;

}

.seperate {
	margin: 0 10px;
}

.phone {
	vertical-align: top;
	display: inline-block;
	width: 100%
	height: auto;
	padding: 0px 20px 0px 20px;
	text-align: center !important;
}


.column {
	float: left;
	width: 50%;
	height: 100%;
	padding:20px;
}
* {
	box-sizing: border-box;
}
/*this is for all text*/
p {
	text-align: center;
	padding: 0px 5px 0px 5px
	font-weight: bolder !important;
	font-size: 15pt;
}

/*here is the second logo to go with name of student*/
.logo2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 25%;
	width: 25%;
	padding-top: 20px;

}

.bottomname {
	position: left;
	clear: both;
	text-align: center;
	height: 50%;
	margin-left: -100;
	margin-right: -100;
	background: rgb(201,188,184);
	padding: 10px 0px 10px 0px
}


	
	





